*{margin: 0; padding: 0; font-family: Georgia, 'Times New Roman', Times, serif;}
.container{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 10em;
    padding-right: 10em;
}
.card{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.topcard{
    background-color: aqua;
    padding: 1px;
}
.image{
    top: 45px;
    left: 25px;
    position:relative
}
.image img{
    border-radius: 50%;
    border: 2px solid black;
}
.image2 > img{
    height: 20px;
    margin-right: 5px;
}
.bottomcard{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    border-bottom: 3px solid gray;
    border-right: 3px solid gray;
    border-left: 3px solid gray;
}
.locationandmarker{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    margin-bottom: 5px;
}
.name{
    margin-top: 40px;
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 5px;
}
.editp{
    display:flex;
    align-items: center;
    margin-bottom: 2em;
    padding: none;
}
.image3{
    margin: none;
    padding: none;
    display: flex;
    align-items: center;
}
.biography{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.image3 a{
    margin-left: 5.31px;
}
.navbar{
    display: flex;
    padding: 1em;
    align-items: center;
    background-color: black;
    color: antiquewhite;
    padding-left: 11em;
}
.navbar ul{
    display: flex;
    gap: 2em;
    list-style: none;
}
ul a{
    text-decoration: none;
    color: antiquewhite;
    padding-left: 1em;
}
.signout{
    margin-left: auto;
}
.signoutbut{
    border: none;
    color: antiquewhite;
    font-weight: bold;
    padding: 5px 10px;
    background-color: aqua;
}
.fatcolumn{
    padding: 1em;
    flex: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.52em;
}
.skinnycolumn{
    padding: 1em;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.52em;
}
.education{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.edutopbar{
    background-color: black;
    color: white;
    padding-left: 20px;
    display: flex;
}
.edubody{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    border-bottom: 3px solid gray;
    border-right: 3px solid gray;
    border-left: 3px solid gray;
}
.edudate{
    color: gray;
    margin-bottom: 10px;
}
.yourconnect{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.yourcontopbar{
    background-color: black;
    color: white;
    padding: 7.22px;
    display: flex;
    gap: 1em;
}
.yourconbody{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    border-bottom: 3px solid gray;
    border-right: 3px solid gray;
    border-left: 3px solid gray;
    gap: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.yourconbotbar{
    border-bottom: 3px solid gray;
    border-right: 3px solid gray;
    border-left: 3px solid gray;
    padding: 5.22px;
}
.yourcon1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin-bottom: 5px;
}
.Number{
    border-radius: 100%;
    background-color: lightgrey;
    color: black;
    padding: 1px 4px;
}
.connectionreq{    
    display: flex;
    flex-direction: column;
}
.reqtopbar{
    background-color: black;
    color: white;
    padding: 7.22px;
    display: flex;
    gap: 1em;
}
.reqbody{
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid gray;
    border-right: 3px solid gray;
    border-left: 3px solid gray;
}
.Number2{
    border-radius: 100%;
    background-color: lightgrey;
    color: black;
    height: 20px;
    width: 20px;
    text-align: center;
}
.userrequest{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .5em;
}
.requestlist{
    list-style: none;
}
.accdeny{
    margin-left: auto;
}
.userrequest img{
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid black;
}
.YourCon1{
    gap: 1em;
    display: flex;
}
.YourCon1 img{
    border-radius: 50%;
    border: 2px solid black;
}