.container{
    background-color: antiquewhite;
    width: auto;
    height: auto;
    padding: 10em;
}
.card{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
}
.topcard{
    background-color: aqua;
    width: 500px;
    height: 75px;
    
}
.image{
    top: 40px;
    left: 25px;
    position:relative
}
.image2 > img{
    height: 20px;
    margin-right: 5px;
}
.bottomcard{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.locationandmarker{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    margin-bottom: 5px;
}
.name{
    margin-top: 40px;
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 5px;
}
.editp{
    display:flex;
    align-items: center;
    margin: none;
    padding: none;
}
.image3{
    margin: none;
    padding: none;
    display: flex;
    align-items: center;
}
.biography{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.image3 a{
    margin-left: 5.31px;
}